/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */
/*  */
/*  */

html {
    font-family: "Open sans", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(64, 158, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.panel {
    display: flex;
    background-color: white;
    border-radius: 15px;
    max-width: 960px;
    padding: 15px 25px;
    justify-content: center;
    width: 100%;
}

.pricing-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    border-right: 1px solid wheat;
    max-width: 320px;
    flex-wrap: wrap;
}

.pricing-plan:last-of-type {
    border: none;
}

.pricing-img {
    max-width: 100%;
}

.pricing-header {
    letter-spacing: 0.2em;
    font-weight: 400;
    font-size: 1.2em;
    color: gray;
    margin-top: 15px;
    padding-bottom: 50px;
}

.pricing-features {
    text-align: center;
    color: rgb(64, 158, 79);
    font-size: 0.8em;
    font-weight: 600;
}

.pricing-features-item {
    margin-bottom: 30px;
}

.pricing-price {
    color: rgb(64, 158, 79);
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-button {
    cursor: pointer;
    padding: 15px 30px;
    background-color: white;
    margin-bottom: 60px;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(64, 158, 79);
    border: 1px solid rgb(64, 158, 79);
    transition: 200ms ease-in-out;
}

.pricing-button:hover {
    background-color: rgb(50, 122, 62);
    color: white;
}

.is-featured {
    background-color: rgb(64, 158, 79);
    color: white;
}

.is-featured:hover {
    background-color: rgb(50, 122, 62);
}


a {
    text-decoration: none;
}

@media (max-width:600px) {
    .panel {
        flex-direction: column;
        align-items: center;
    }

}